
.ui.buttons .button:last-child {
    background: #8470B2;
    color:white;

}

.ui.secondary.vertical.pointing.menu .item {
    padding: 20%;
}

.ui.attached.menu:not(.tabular) {
    border: 20px solid white;
}